

@media (max-width: 767px) {
    .profile-menu {
        border: solid #ccc 1px;
        background-color: #fcf9f9 !important;
        height: 50px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .profile-menu {
        border: solid #ccc 1px;
        background-color: #fcf9f9 !important;
        height: 50px;
        margin-top: -60px;
    }

        .profile-menu > a:first-child {
            margin-left: 260px;
            cursor: pointer;
        }
}

.profile-menu > a {
    padding: 0 10px 0 10px;
    line-height: 45px;
    cursor: pointer;
    vertical-align: middle;
}

.profile-info-about {
    min-height: 50px;
    font-size: 13px;
    line-height: 25px;
}
