<div id="changeEmail" class="container-s margin-top-5Per padding-10 fadeIn">
    <div class="card padding-15 rounded-border-l">
        <page-heading text="Change Email" showInfo="true" info="Once you change you email, your login user will be changed. "></page-heading>
        <form [formGroup]="changeEmailForm" (ngSubmit)="updateEmail()">
            <div class="row margin-top-20">
                <div class="col-md-12">

                    <mat-form-field class="form-group full-width padding-top-10">
                        <input matInput placeholder="Enter your email" formControlName="email" required autofocus autocomplete="off" [(ngModel)]="userEmail.email">
                        <mat-error *ngFor="let validation of validation_messages.email">
                            <mat-error class="error-message" *ngIf="changeEmailForm.get('email').hasError(validation.type) && (changeEmailForm.get('email').dirty || changeEmailForm.get('email').touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-m btn-success margin-5" [disabled]="!changeEmailForm.valid">Update</button>
                    <a class="btn btn-m btn-default margin-5" [routerLink]="['/profileSetting']">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

