.ng-dirty,
input.ng-dirty,
input.ng-valid,
input.ng-valid[required],
input.ng-dirty[required] {
    border-left: none !important;
}

input.ng-invalid {
    border-left: none !important;
}

input.border-left-none {
    border-left: none !important;
}
