.thumb-nail {
    width: auto;
    height: 470px
}

label.fileupload {
    padding: 8%;
    height: 260px;
    width: 320px;
    cursor: pointer;
    border: dotted 2px #ccc;
}

    label.fileupload:hover {
    }

    label.fileupload .symbol {
        font-size: 35px;
    }

.cropper-width {
    max-width: 500px;
    height: auto;
    float: none;
}

.progress-count {
    margin-top: -15%;
    left: 42%;
    position: absolute;
    color: #f7f2f2;
    opacity: 0.8;
    background: transparent;
    font-size: 25px;
}
