<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-heading">
                <h2 class="card-title">Change your profile image</h2>
            </div>
            <sub class="padding-5" style="font-size:12px;">Choose your any image with clear face.</sub>
        </div>
    </div>
    <form #frmProfileHeadShot="ngForm" class="padding-top-20">
        <div class="row padding-5">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <label class="btn btn-success">
                    <i class="fa fa-paperclip" style="font-size:16px;"></i>&nbsp;Select file
                    <input type="file" id="fileUploder" name="fileUploder" class="hidden" #image accept="image/*" (change)="handleFileInput($event)" />
                </label>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4  text-right">
                <button *ngIf="showImgeCropper" id="btnSave" type="submit" class="btn-profile-save btn btn-success" (click)="uploadImage()" [disabled]="!frmProfileHeadShot.form.valid || image.value==''">
                    <span *ngIf="!(progress > 0 && progress < 100)">
                        <i class="fa fa-upload"></i>&nbsp;Upload Image
                    </span>
                    <sub style="font-weight:bold;" *ngIf="progress > 0 && progress < 100">{{progress}}%</sub>
                    <!--<sub style="font-weight:bold;" *ngIf="message">{{message}}</sub>-->
                </button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
            </div>
        </div>
        <div *ngIf="showImgeCropper" class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <!-- [imageChangedEvent]="imageChangedEvent" -->
                <image-cropper format="png,jpeg" class="img-fluid img-thumbnail" [cropper]="coordinates" style="max-height:500px;"
                               [imageBase64]="cropperBase64" [maintainAspectRatio]="true" [aspectRatio]="4/5" [resizeToWidth]="192"
                               (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>
               
                <div class="col-md-6 margin-auto padding-5" style="float:none;">
                    <label class="btn btn-info pull-right" (click)="rotate(true);">
                        <i *ngIf="!isLeftRotating" class="fa fa-redo" style="font-size:12px;"></i>
                        <i *ngIf="isLeftRotating" class="fa fa-spinner fa-spin btn-spinner" style="font-size:12px;"></i>
                        &nbsp;&nbsp;Rotate right
                    </label>
                    <label class="btn btn-info" (click)="rotate(false);">
                        <i *ngIf="!isRightRotating"  class="fa fa-undo" style="font-size:12px;" ></i>
                        <i *ngIf="isRightRotating"  class="fa fa-spinner fa-spin btn-spinner" style="font-size:12px;"></i>
                        &nbsp;&nbsp;Rotate left
                    </label>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 rounded">
            <img [src]="headShotModel.dataUrl" class="img-fluid img-thumbnail rounded" style="max-height: 250px; max-width: 200px;"/>
            </div>
        </div>
        <!--<label for="imgCaption" class="text-muted required">Caption</label>
        <input type="text" id="imgCaption" name="imgCaption" class="form-control" required [(ngModel)]="headShotModel.caption" />-->
        <!--<img [src]="headShotModel.dataUrl" style="height:210px; width:200px; border:solid 1px #CCC;" />-->
    </form>

</div>
