<div id="changePassword" class="container-s margin-top-5Per padding-10 fadeIn">
    <div class="card padding-15 rounded-border-l">
        <page-heading text="Change Password" showInfo="true" info="Change your password. "></page-heading>
        <form [formGroup]="changePwdForm">
            <div class="row margin-top-20">
                <mat-form-field class="col-md-12">
                    <input type="password" matInput placeholder="Password" formControlName="password" required autocomplete="off" [(ngModel)]="changePwd.password">
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error class="error-message" *ngIf="changePwdForm.get('password').hasError(validation.type) && (changePwdForm.get('password').dirty || changePwdForm.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row margin-top-5">
                <mat-form-field class="col-md-12">
                    <input type="password" matInput placeholder="New password" formControlName="newPassword" required autocomplete="off" [(ngModel)]="changePwd.newPassword">
                    <mat-error *ngFor="let validation of validation_messages.password">
                        <mat-error class="error-message" *ngIf="changePwdForm.get('password').hasError(validation.type) &&
                                                       (changePwdForm.get('password').dirty || changePwdForm.get('password').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row margin-top-5">
                <mat-form-field class="col-md-12">
                    <input type="password" matInput placeholder="Confirm password" (blur)="validatePassword()" formControlName="cnfPassword" required autocomplete="off" [(ngModel)]="changePwd.cnfPassword">
                    <mat-error *ngFor="let validation of validation_messages.cnfPassword">
                        <mat-error class="error-message" *ngIf="changePwdForm.get('cnfPassword').hasError(validation.type) &&
                                                       (changePwdForm.get('cnfPassword').dirty || changePwdForm.get('cnfPassword').touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-m btn-success margin-5">Update</button>
                    <a class="btn btn-m btn-default margin-5" [routerLink]="['/profileSetting']">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

