<section class="home-casting-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="heading">Looking for talent? We will provide you the best.</span>
                <span class="heading-title">Discover thousands of models, actors, musicians and other creative by</span>
                <span class="heading-subtitle">
                    picking from my&nbsp;
                    <a href="#">Talent Directory</a>
                    &nbsp;or&nbsp;
                    <a href="#">Place a free casting call.</a>
                </span>
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <a id="btnTalentDirectory" name="btnTalentDirectory" [routerLink]="['/search']" class="btn home-talent-directory">
                    <i class="fa fa-globe" style="font-size:35px; padding:15px 10px 15px 10px; float:left;"></i>
                    <label class="padding-top-10">Talent Directory</label>
                </a>
            </div>
        </div>
        <div class="row" style="text-align:center;">
            <div class="col-md-12">
                <a id="btnPlaceAFreeCastingCall" name="btnPlaceAFreeCastingCall" class="btn home-place-casting-call">
                    <i class="fa fa-bullhorn" style="font-size:35px; padding:15px 10px 15px 10px; float:left;"></i>
                    <label class="padding-top-10"> Place Casting Call</label>
                </a>
            </div>
        </div>
    </div>
</section>
