
.theme-red {
    color: #d80b32;
}

.theme-brand {
    color: white;
    font-size: 25px !important;
}

    .theme-brand .theme-brand-star {
        color: rgb(248, 128, 23) !important;
    }

    .theme-brand:hover {
        color: rgb(248, 128, 23) !important;
    }

        .theme-brand:hover .theme-brand-star {
            color: white !important;
        }
@media screen and (max-width: 450px) {
    .theme-brand {
        color: white;
        font-size: 20px !important;
    }
}


.theme-color {
    color: #F88017;
}

.theme-button {
    color: #fff;
    background-color: #d80b32;
    border-color: #8f031d;
    text-transform: uppercase;
}

    .theme-button:hover {
        color: #fff;
        background: #bc072a;
    }

.btn-l {
    min-width: 120px;
}

.btn-m {
    min-width: 105px;
}

.btn-s {
    min-width: 85px;
}



.txt-yellow {
    color: #F88017;
}

.required:after {
    content: " *";
    font-weight: bold;
    color: #f00
}

.theme-label,
.theme-control-label {
    color: #F88017;
    font-size: 16px;
}


.theme-texbox-custom {
    height: 40px;
    border: solid 1px #efefef;
    background-color: #efefef;
    border-radius: 5px;
    padding: 2px;
    padding-left: 8px;
}


/* form controls */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/****************************************************** Validation color **************************************************/
.error {
    padding: 0 0 5px 2px;
    color: red;
    font-size: 12px;
}

.text-error {
    color: red;
    padding-left: 10px;
    font-size: 11px;
}

.ng-dirty,
input.ng-dirty,
input.ng-valid,
input.ng-valid[required],
input.ng-dirty[required] {
    border-left: 5px solid #42A948;
}

input.ng-invalid {
    border-left: 5px solid #a94442;
}

input.border-left-none {
    border-left: 1px solid #CCC !important;
}

form.ng-invalid, form.ng-dirty, form.ng-touched {
    border: none !important;
}


/*------------------------------------------------------End Validation color ---------------------------------------------*/
.box-white {
    border: solid #ccc 1px;
    background-color: #fcf9f9 !important;
}


/* spinner */
.theme-button > .btn-spinner
.btn-success > .btn-spinner {
    color: white !important;
}

span.text-shadow, label.text-shadow {
    text-shadow: 1px 4px 10px #b1b1b1;
}


/* ----------------------------------- Angular Materials -----------------------------------------*/
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.mat-step-header .mat-step-icon {
    background-color: rgb(248, 128, 23);
    color: #fff;
}

.mat-form-field-valid .mat-form-field-label {
    color: #42A948 !important;
}

.mat-icon.material-icons.ng-star-inserted {
    color: white;
    position: relative;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(248, 128, 23) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #5cb85c !important;
}

.mat-label-light {
    color: #535353;
    font-weight: 300;
}
/* --------------------------------- End Angular Materials ----------------------------------------*/
