<div style="padding-top:80px;">
    <div class="container-login">
        <mat-card style="border:solid 1px #CCC; border-radius:10px;">
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field class="form-group full-width">
                        <input matInput placeholder="Enter your email" formControlName="email" required autofocus autocomplete="off" [(ngModel)]="loginData.userName">
                        <mat-error *ngFor="let validation of account_validation_messages.email">
                            <mat-error class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                {{validation.message}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-group full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" required autocomplete="off" [(ngModel)]="loginData.password">
                        <mat-error *ngFor="let validation of account_validation_messages.password">
                            <mat-error class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="form-group padding-top-10">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-lg theme-button btn-block margin-bottom-10">
                            <i *ngIf="showSpinner" class="fa fa-spinner fa-spin btn-spinner"></i>
                            <span>Sign in</span>
                        </button>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-footer>
                <p class="padding-top-10 text-center">
                    <span>Not yet registered?&nbsp;&nbsp;</span>
                    <a class="" [routerLink]="['/signup']">Signup here as a new user.</a>
                </p>
                <p class="text-center padding-5">
                    <a>Forgot your password?</a>
                </p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
