.home-section {
    min-height: 350px;
    padding-top: 5%;
    background-color: #f3f3f3;
}

@media screen and (max-width: 767px) {
    .home-section {
        min-height: 250px;
        padding-top: 5%;
        background-color: #f3f3f3;
    }
}

.home-hero-section {
    font-size: 24px;
    color: #fff;
    background: url('../../../../assets/css/icons/header_back_2.jpeg') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-position: center;
}

.home-hero-section .heading {
    display: block;
    font-size: 52px;
    text-align: center;
    line-height: 55px;
    padding: 50px 10px 0px 10px;
    text-shadow: 10px 12px 15px #333;
    font-family: Papyrus, fantasy;
    /*color: #F26522;*/
}

.home-hero-section .heading-title,
.home-hero-section .heading-subtitle {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 10px 10px 0px 10px;
    text-shadow: 0 0 10px rgba(0,0,0,.4);
}

.home-hero-section .heading-title {
}

.home-hero-section .heading-subtitle {
}

.home-hero-search-container {
    text-align: center;
    text-align: -webkit-center;
    padding-top: 25px;
}


@media screen and (max-width: 767px) {
    .home-hero-section .heading {
        font-size: 30px;
        line-height: 35px;
        padding-top:60px;
    }

    .home-hero-section .heading-title,
    .home-hero-section .heading-subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
    .home-hero-section .heading {
        font-size: 38px;
        line-height: 35px;
        padding-top: 60px;
    }

    .home-hero-section .heading-title,
    .home-hero-section .heading-subtitle {
        font-size: 18px;
    }
}

