<div class="card">
    <div class="card-header card-title-m">
        <span>Photos</span>
        <a [routerLink]="['/profile/photoManager']" class="pull-right">
            <i *ngIf="!showEditHtml" class="glyphicon glyphicon-edit text-success edit-icon-l"></i>
        </a>
    </div>
    <div id="gallary" class="card-body">
        <div class="img-wrapper">
            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_9219016.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_4293171.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_8480589.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://thunder-team.com/friend-finder/images/album/4.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_9219054.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://thunder-team.com/friend-finder/images/album/6.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://snusercontent.global.ssl.fastly.net/member-profile-full/96/1505896_4054660.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://thunder-team.com/friend-finder/images/album/8.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://thunder-team.com/friend-finder/images/album/8.jpg" alt="photo">
        </div>
        <div class="img-wrapper">
            <img src="https://thunder-team.com/friend-finder/images/album/8.jpg" alt="photo">
        </div>

    </div>
</div>

