<!--<div class="card" >
    <div class="card-header">
        <span>Photos</span>
        <a [routerLink]="['/profile/photoManager']" class="pull-right">
            <i *ngIf="!showEditHtml" class="glyphicon glyphicon-edit text-success edit-icon-l"></i>
        </a>
    </div>
    <div class="card-body">
        <div id="gallary" *ngIf="showPhotoSection">
            <div class="img-wrapper" *ngFor="let image of userImageModel">
                <img [src]="image.dataUrl" alt="photo">
            </div>
        </div>
        <div *ngIf="!showPhotoSection">
            <p class="text-info  text-l">You haven't added any photos yet</p>
            <a [routerLink]="['/profile/photoManager']" class="pull-right">
                <i *ngIf="!showEditHtml" class="glyphicon glyphicon-edit text-success edit-icon-l"></i>
            </a>
        </div>
    </div>
</div>-->
<div class="card">
    <div class="card-header">
        <span *ngIf="showPhotoSection">Photos</span>
        <span *ngIf="!showPhotoSection" class="text-m text-info">You haven't added any photos yet</span>
        <a [routerLink]="['/profile/photoManager']" class="pull-right">
            <i class="icon icon-edit text-success"></i>
        </a>
    </div>
</div>
<div *ngIf="showPhotoSection" id="gallary" >
    <div *ngFor="let image of userImageModel">
        <img [src]="image.dataUrl" alt="photo">
    </div>
</div>
<!--<div *ngIf="!showPhotoSection">
    <p class="text-info  text-l">You haven't added any photos yet</p>
    <a [routerLink]="['/profile/photoManager']" class="pull-right">
        <i *ngIf="!showEditHtml" class="glyphicon glyphicon-edit text-success edit-icon-l"></i>
    </a>
</div>-->
